<html>

<body>
    <h1>Burası ejs sayfamız</h1>
    <ul>
       
        <% for(var i=0;i<numbers.length;i++){%> 
                <li> <%=numbers[i]%> </li>
        <%}%>
      
    </ul>
</body>
</html>